{% extends 'base.html' %}

{% block content %}

<!-- banner with layer-->
<!-- Masthead-->
<header class="masthead-h-25">
    <div class="container px-4 px-lg-5 h-20">
        <div class="row gx-4 gx-lg-5 h-20 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-baseline">
                <br/><br/><br/>
                <h2 class="text-white-75 mb-5 margin-top-20">
                    {% if user.first_name %}
                        {{ user.first_name }}
                    {% else %}
                        {{ user.username }}
                    {% endif %}
                </h2>              
            </div>
        </div>
    </div>
</header>
<br/><br/>

<!-- Account form -->
<section>
    <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
        <div class="col-lg-6">
            <form id="Account-form" method="post" action="#" >
                {% csrf_token %}
                <!-- First name input-->
                <div class="form-floating mb-3">
                    <input class="form-control" id="first_name" type="text" placeholder="First Name" name="first_name" value="{{ user.first_name }}" />
                    <label for="email">Prénom</label>
                </div>
                <!-- Last name input-->
                <div class="form-floating mb-3">
                    <input class="form-control" id="last_name" type="text" placeholder="last name" name="last_name" value="{{ user.last_name }}" />
                    <label for="password">Nom de famille</label>
                </div>
                <!-- Email input-->
                <div class="form-floating mb-3">
                    <input readonly class="form-control" id="email" type="text" name="email" value="{{ user.email }}" />
                    <label for="password">Email</label>
                </div>

                <!-- Username -->
                <div class="form-floating mb-3">
                    <input hidden id="username" type="text" name="username" value="{{ user.username }}" />
                </div>

                <!-- is submit button clicked -->
                <div class="form-floating mb-3">
                    <input hidden id="is_submit_button_clicked" type="text" name="is_submit_button_clicked" value="clicked" />
                </div>

                {% if messages %}
                    <div class="alert alert-danger" role="alert">
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    </div>            
                {% endif%}

                <!-- Submit Button-->
                <div class="d-grid"><button class="btn btn-primary btn-xl" id="submitButton" type="submit">Mettre à jour</button></div>
                <br/>
            </form>
        </div>
    </div>
</section>


{% endblock %}